.container-loginPage {
    height: calc(100vh - 70px);
    width: 100vw;
}

.link-existent_account {
    display: flex;
    text-align: center;
    text-decoration: none;
    max-width: max-content;
    color: #FFF;
    line-height: 1.2;
    transition: all ease-in-out 200ms;
}
.link-existent_account div {
    align-content: center;
    display: flex;
    content: "";
    background-color: #DDD;
    height: 2px;
    width: 0;
    transition: all ease-in-out 200ms;
}
.link-existent_account:hover {
    color: #DDD;
}
.link-existent_account:hover div {
    width: 100%;
}

.form-login {
    width: 380px;
    height: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container-loginPage form {
    padding: 1rem;
    background-color: rgb(54, 57, 60);
    border-radius: 8px;
}

.container-loginPage form input {
    background-color: rgb(84, 87, 90) !important;
    outline: none !important;
}

.container-loginPage form input:focus {
    border-color: rgb(114, 117, 120);
    box-shadow: none !important;
    color: #FFF !important;
}

.container-loginPage form .form-legend {
    background-color: #141618;
}


.search-bar {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.search-bar form {
    border: 1px solid rgb(84, 87, 90);
    border-radius: 8px;
}

.search-bar #btn-collapse {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-bar #btn-collapse.opened {
    border-bottom-right-radius: 0;
}

.search-bar #searchInput {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #495057;
    color: #FFF;
}
.search-bar #searchInput:focus {
    box-shadow: none;
    border-color: #495057;
}

.search-bar #searchInput.opened {
    border-bottom-left-radius: 0;
}

.search-bar .btn-searchBar {
    height: 58px;
}

.search-bar .btn-searchBar .btn {
    width: 100%;
    height: 100%;
    border-radius: 0;
    color: #0d6efd;
    background-color: #FFF;
    border: none;
    transition: all ease 200ms;
}

.search-bar .btn-searchBar .btn:hover {
    background-color: #DDD;
}

.search-bar .btn-searchBar .btn[aria-expanded="false"] i::before {
    transition: all ease 140ms;
}

.search-bar .btn-searchBar .btn[aria-expanded="true"] i::before {
    transform: rotate(180deg);
    transition: all ease 140ms;
}

.search-bar .searchBar-inputBorders {
    border-right: 1px solid rgb(84, 87, 90);
}

.search-bar #collapseInput-orderDate {
    border-bottom-left-radius: 8px;
}



.container-create-product {
    background-color: rgb(54, 57, 60);
    padding: 12px;
    width: 100%;
    min-height: 75%;
    margin-top: 24px;
}

.form-create-product {
    width: max-content;
    margin-block-end: 0;
}

.form-create-product #title,
.form-create-product #price {
    border: 0;
    background-color: transparent;
    color: #FFF;
    max-width: 60%;
    border-radius: 0;
    border-bottom: 1px solid #676f77;
}
.form-create-product #title.is-invalid,
.form-create-product #price.is-invalid {
    border-bottom-color: #B02A37;
}

.form-create-product #title:focus,
.form-create-product #price:focus,
.form-create-product #description:focus {
    box-shadow: none;
    border-color: #308be6;
}


.form-create-product button.btn-create-product {
    border: none;
    color: #FFF;
    padding: 6px 36px;
    transition: all ease 150ms;
}

.form-create-product button.btn-create-product:hover {
    background-color: rgb(18, 100, 62) !important;
}

.form-create-product button.btn-create-product:active {
    color: #DDD;
}



.container-profile-config {
    margin-top: calc(((100vh - 70px) - 80vh) / 2);
    margin-bottom: calc(((100vh - 70px) - 80vh) / 2);
    height: 80vh;
    display: flex;
}



.list-group-config_page {

}
.list-group-config_page a {
    display: flex;
    align-items: center;
}
.list-group-config_page a svg {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

.user-profile-config,
.user-security-config {
    padding: 20px;
}

.user-profile-config {
    display: flex;
    flex-direction: column;
}
.user-profile-config .user-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.user-profile-config .user-img svg {
    width: 192px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #ADB5BD;
}
.user-profile-config .user-name {
    display: flex;
}
.user-profile-config .user-name .form-floating {
    width: 100%;
}
.user-profile-config .user-name input,
.user-profile-config .user-email input,
.user-profile-config .user-cpf input {
    border: 0;
    background-color: transparent;
    color: #FFF;
    max-width: 60%;
    border-radius: 0;
    border-bottom: 1px solid #676f77;
}
@media(max-width: 991px) {
    .user-profile-config .user-name input,
    .user-profile-config .user-email input,
    .user-profile-config .user-cpf input {
        max-width: 80%;
    }
}

.user-profile-config .user-name input:focus,
.user-profile-config .user-email input:focus,
.user-profile-config .user-cpf input:focus {
    box-shadow: none;
    border-color: #308be6;
}


.user-profile-config .user-change-avatar {
    overflow: hidden;
    border: 1px solid #495057;

    border-radius: 0.375rem;
    
    background-color: #212529;

    display: flex;
    flex-direction: column;
}
.user-profile-config .user-change-avatar form {
    margin-block-end: 0;
}
.user-profile-config .user-change-avatar label {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #495057;
    display: block;
}
.user-profile-config .user-change-avatar input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;

    border: 0;
}
.user-profile-config .user-change-avatar input:focus {
    box-shadow: none;
}

.user-security-config {

}
.user-security-config .user-email input {
    border: 0;
    background-color: transparent;
    color: #FFF;
    max-width: 60%;
    border-radius: 0;
    border-bottom: 1px solid #676f77;
}
.user-security-config .user-email input:focus {
    box-shadow: none;
    border-color: #308be6;
}
.user-security-config .user-email input.is-invalid {
    border-bottom-color: #B02A37;
}
.user-security-config .user-email input.is-valid {
    border-bottom-color: #75B798;
}
.user-security-config .user-email .valid-feedback {
    display: flex;
}


.user-addresses-config {
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.user-addresses-config .btn-add-address {
    border-radius: 0;
}
.user-addresses-config .address-add {

}
.user-addresses-config .addresses {
    flex: 1;
}
.user-addresses-config .addresses .address {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(77, 79, 82);
    transition: all ease-in-out 100ms;
}
.user-addresses-config .addresses .address:hover {
    transform: scale(1.01);
    border-radius: 8px;
}
.user-addresses-config .addresses .address .active {
    display: flex;
    justify-content: center;
}

.user-addresses-config .addresses .address .active-svg {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    border: 1px solid #676f77;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-addresses-config .addresses .address .active-svg .circle {
    width: 16px;
    height: 16px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    
}
.address .active-svg .circle.active {
    background-color: #75B798;
}
.address .active-svg .circle.disabled {
    background-color: #B02A37;
}

.user-addresses-config .addresses .address .actions .action-edit,
.user-addresses-config .addresses .address .actions .action-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address .actions .action-edit svg {
    width: 20px;
    height: auto;
    fill: #676f77;
    transition: all ease-in-out 150ms;
}
.address .actions .action-edit:hover svg {
    fill: #88929c;
    transform: scale(1.1);
}
.address .actions .action-delete svg {
    width: 20px;
    height: auto;
    fill: #B02A37;
    transition: all ease-in-out 150ms;
}
.address .actions .action-delete:hover svg {
    fill: #df293b;
    transform: scale(1.1);
}


.user-addresses-config .addresses .addresses-head {
    padding: 10px 0;
}
.user-addresses-config .addresses .addresses-head {
    font-weight: bold;
    font-size: 22px;
    text-align: center;

    border-bottom: 1px solid rgb(114, 117, 120); /* rgb(77, 79, 82); */
}

.modal-content form {
    margin-block-end: 0;
}